<h3><%= link_to "Main", houses_path %></h3>
<h3>New House</h3>

<%= form_for [@house] do |f| %>
  <%= f.label :title, "Name" %>
  <%= f.text_area :title %>
  <%= f.label :img_url, "Image" %>
  <%= f.text_area :img_url %>
  <%= f.submit %>
<% end %>
