<p><%= link_to "Main", houses_path %></p>
<p><%= link_to "Create New House", new_house_path %> | <%= link_to "Create New Character", new_house_character_path(@house) %></p>
<article class="show">
  <div>
    <h2><%= @house.title %></h2>
    <%= image_tag @house.img_url %>
    <h4><%= link_to "Edit House", edit_house_path(@house) %></h4>
    <h4><%= link_to "Delete House", house_path(@house), method: :delete %></h4>
  </div>
  <div class="character">
    <h2>Characters</h2>
    <% @house.characters.each do |character| %>
    <h3><%= character.name %></h3>
    <%= image_tag character.img_url %>
    <h4><%= link_to "Edit Character", edit_house_character_path(@house, character) %></h4>
    <h4><%= link_to "Delete Character", house_character_path(@house, character), method: :delete %></h4>
  </div>
  <% end %>
</article>
