<p><%= link_to "Main", houses_path %></p>
<h3>New Character</h3>

<%= form_for [@house, @character] do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_area :name %>
  <%= f.label :img_url, "Picture" %>
  <%= f.text_area :img_url %>
  <%= f.submit %>
<% end %>
